html {
    font-size: 16px;
}

body {
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}
@media screen and (max-width:768px){
    body {
        font-size: 1rem;
    }
}


.frame {
    padding: 0.5em 1em;
    margin: auto;
    width: fit-content;
    border: double 5px #4ec4d3;
    justify-content: center;
    text-align: center;
}
.frame p {
    margin: 0; 
    padding: 0;
}

.frame-text {
    width: 75%;
}

.frame-menu {
    margin: 1rem;
    justify-content: left;
}
