{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>サンプル</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <body onload="playAudio()">
        <div class="frame frame-menu"><a href="/ja{{ current }}">・日本語</a><a href="/en{{ current }}">・English</a></div>
        <h2>{% trans '・画像コンテンツ' %}</h2>
            <div class="frame">
                {% with LANGUAGE_CODE|add:'/images/'|add:manual_id|add:'.jpg' as image_static %}
                    <img width="auto" height="auto" src="{% static image_static %}" alt="Test Image">
                {% endwith %}
            </div>

        <div class="frame frame-menu"><a href="{{next}}">{% trans '音声表示' %}</a></div>
    </body>
</html>